$t: 2.5s;
$e1: cubic-bezier(0.8, 0.00, 0.1, 1);
$e2: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$er: linear;

$color: hsl(75,80%,17%);
$font: 'Abril Fatface', sans-serif;

$slides: 3;
$images:url("/assets/images/friends-enjoying-the-music.jpg")  url("/assets/images/happy-man-listening-music-from-mobile-phone.jpg") url("/assets/images/free-download-19058-happy-girl-listening-to-music-1920x1080-music-1920x1080-for-your-desktop-mobile-amp-tablet-explore-91-music-girl-wallpapers-music-girl-wallpapers-music-girl-wallpaper-hd-music-w.jpeg")   ;