* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
#why {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 90px 0px;
  h2 {
    font-weight: bold;
    font-size: 45px;
  }
  .subtitle {
    font-size: 25px;
    padding-top: 50px;
  }
  .parts {
    padding-top: 40px;
    .part {
      padding: 30px;
      i {
        color: #75f991;
        font-size: 50px;
      }
      &:hover {
        background-color: #1a1c1f;
        border-radius: 7px;
      }
    }
  }
}
#quality {
  background-image: url(/assets/images/happy-women-enjoys-listening-to-music-indoors.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  //   background-attachment: fixed;
  min-height: 700px;
  left: 0;
  width: 100%;
  .background-transparent {
    background-color: #00000080;
    background-size: cover;
    min-height: 1000px;
    width: 100%;
    .myContainer {
      padding-top: 180px;
      h2 {
        font-size: 85px;
        color: white;
        font-weight: bolder;
      }
      p {
        font-size: 25px;
        color: white;
        margin: 45px 0px;
      }
      .btn-trial {
        padding: 27px 45px;
        font-size: 25px;
        color: rgb(0, 0, 0);
        border: 1px solid #75f991;
        border-radius: 10px;
        background-color: #75f991;
        text-decoration: none;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
@media screen and (max-width: 770px) {
  #quality {
    .background-transparent {
      .myContainer {
        .main-text {
          h2 {
            font-size: 40px;
          }
        }
        .text {
          p {
            font-size: 15px;
          }
        }
        .free-trial-btn {
          margin-top: 30px;
          .btn-trial {
            padding: 17px 35px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
#plan {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  padding: 90px 0px;
  color: white;
  h2 {
    font-weight: bold;
    font-size: 65px;
  }
  .subtitle {
    font-size: 30px;
    padding-top: 50px;
  }
  .cards {
    margin-top: 20px;
    color: rgb(19, 19, 19);
    .plan {
      background-color: #131517;
      color: white;
      border-radius: 10px;
      .green-header {
        background-color: #75f991;
        margin: 0;
        border-radius: 10px;

        .popular {
          position: absolute;
          top: 0;
          left: auto;
          right: 0;
          transform: rotate(90deg);
          width: 150px;
          overflow: hidden;
          height: 150px;
          .popular-div {
            text-align: center;
            left: 0;
            width: 200%;
            transform: translateY(-50%) translateX(-50%) translateX(35px)
              rotate(-45deg);
            margin-top: 35px;
            font-size: 13px;
            line-height: 2;
            font-weight: 800;
            background: #000;
          }
        }
      }
      h3 {
        font-size: 30px;
        font-weight: bold;
      }
      .price {
        display: flex;
        justify-content: center;
        span {
          font-size: 35px;
          font-weight: bold;
          color: #75f991;
        }
        .big {
          font-size: 80px;
        }
      }
      .monthly {
        font-size: 20px;
      }
      li {
        list-style-type: none;
        span {
          font-size: 18px;
        }
        i {
          font-weight: bolder;
          color: #75f991;
          font-size: 22px;
        }
      }
      .get-started-btn {
        margin-top: 30px;
        .btn-start {
          padding: 14px 22px;
          font-size: 15px;
          color: #75f991;
          border: 1px solid #75f991;
          border-radius: 10px;
          background-color: transparent;
          text-decoration: none;
          &:hover {
            background-color: #75f991;
            color: #131517;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 992px) {
  #plan {
    .cards {
      .plan {
        margin-bottom: 30px;
      }
    }
    h2 {
      font-weight: bold;
      font-size: 45px;
    }
    .subtitle {
      font-size: 20px;
      padding-top: 50px;
    }
  }
}
.modall{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
#payment {
   position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    h2{
      font-size: 35px;
      font-weight: bold;
    }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    border: 5px solid #cccccc;
    border-radius: 10px;
   text-align: center;
   vertical-align: middle;
   padding: 50px;
   backdrop-filter: blur(10px);
   background-color: rgba(0, 0, 0, 0.25);
   color: white;
  }
  .btn {
    background-color: #75f991;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .closeBtn {
    position: absolute;
    right: 25px;
    top: 0;
    color: rgb(255, 243, 243);
    font-size: 35px;
    font-weight: bold;
  }
  
  .closeBtn:hover,
  .closeBtn:focus {
    color: red;
    cursor: pointer;
  }

.row{
  justify-content: center;
}
 
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  .form-div{
    margin: 0 auto;
  }

  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  .btn {
    background-color: #75f991;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }

  .btn:hover {
    background-color:transparent;
  }

  a {
    color: #2196f3;
  }

  hr {
    border: 1px solid lightgrey;
  }

  span.price {
    float: right;
    color: grey;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
    .form-div{
      margin: 0 auto;
    }
  }
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
}

